.signin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
    width: 300px;

    background-color: white;
    border: 1px solid #ccc; /* Optional: adds a subtle border around the container */
    border-radius: 10px; /* Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle drop shadow for depth */
  }
  
  .signin-form input[type="email"],
  .signin-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signin-form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signin-form button:hover {
    background-color: #218838;
  }
  
  .title {
    align-self: flex-start;
    margin: 0;
  }